
nav{
    text-align: center;
    padding-top: 3vh;
    padding-left: 1vw;
}

footer{
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    margin-top: auto;
    border-radius: 1rem;
}

body > h3{
    text-align: center;
}

footer > p{
    text-align: center;
    padding-top: 1rem;
}

.nav_buttons{
    margin: auto;
    background-color:sandybrown;
    color:rgb(46, 46, 46);
    text-decoration: none;
    font-size: 22px;
    padding: 2vh;
    border-radius: 2vh;
}


#img_ChiliGamesBanner{
    width: 100%;
    border-radius: 4vh;
}

#div_ImageAndIframe{
   padding-left: 17rem;
}

#form_contact{
    width: 300px;
    margin: auto;
    padding: 1rem;
}
